/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --branco: #e4e9f7;
  --violeta: #470081;
  --verde: #00ae8e;
  --verde-escuro: #003a2f;
  --texto: #f7f7f7;
  --bk_input: #f9fdff;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--branco);
  transition: var(--tran-05);
}

a {
  text-decoration: none;
}

/*SELEÇÕES*/
::selection {
  background-color: var(--verde);
  color: var(--branco);
}

/* SCROLLBAR*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--fundo);
}
::-webkit-scrollbar-thumb {
  background: var(--verde);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--verde-escuro);
}

/* ===== BARRA LATERAL (MENU) ===== */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--verde-escuro);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

.gatopardologo:hover {
  transform: scale(1.2);
  transition: var(--tran-03);
}

.sidebar li {
  display: flex;
  height: 80px;
  margin-top: 5px;
  list-style: none;
  align-items: center;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  display: flex;
  height: 100%;
  min-width: 60px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--branco);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
  margin-top: 3rem;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  display: block;
  margin-top: -2px;
  font-size: 16px;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 50px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  display: flex;
  top: 50%;
  right: -28px;
  height: 25px;
  width: 25px;
  transform: translateY(-50%) rotate(180deg);
  background-color: var(--verde);
  color: var(--verde-escuro);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li a {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  background-color: transparent;
  align-items: center;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a .icon {
  right: 45px;
}

.sidebar li a:hover .icon {
  background-color: var(--verde);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--branco);
}
.sidebar .menu-bar {
  display: flex;
  height: calc(100% - 55px);
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

.logout .icon {
  left: 0;
}
.logout {
  margin-bottom: 55px;
}

/* ================= PRIMEIRO CONTAINER ============== */

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--branco);
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--branco);
  padding: 12px 60px;
}

/* ================= DASHBOARD - FUNCIONARIO ============== */

.container {
  width: 100vw;
  margin: 0 auto;
  padding-top: 3rem;
}

.card_dash {
  position: relative;
  display: block;
  width: 100%;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  height: 220px;
  background: var(--texto);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease;
}

.card_dash * {
  transition: all 0.5s ease;
}

.card_dash:hover {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

.number {
  display: flex;
  float: left;
  width: 40%;
  height: 100%;
  margin-top: 2.5rem;
  align-content: center;
  justify-content: center;
  background-image: url(/Circulo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.quantidade {
  position: relative;
  display: flex;
  margin-top: 32%;
  margin-right: 25px;
  color: var(--verde);
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.quantidade:hover {
  color: var(--verde-escuro);
}

.titulo h2 {
  margin-top: 4.5rem;
  color: var(--verde-escuro);
  font-weight: 600;
  font-size: 25px;
}

/*CAIXAS COM INFO COM TEXTO*/

.titulo_info {
  display: flex;
  height: 20%;
}

.titulo_info h2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  font-size: 25px;
  font-weight: 600;
  color: var(--verde-escuro);
  text-align: center;
}

.info_dash {
  background-color: var(--verde);
  border-radius: 50px;
}

.info_dash p {
  padding-top: 5px;
  margin-left: 35px;
  text-align: center;
  color: var(--branco);
  z-index: 25;
}

.info_dash p:hover {
  color: var(--verde-escuro);
}

/* ================= MOSTRAR TABELAS-FUNCIONARIO ============== */

.tb_artista {
  position: relative;
  display: block;
  margin-top: 2%;
  margin-left: 3%;
  max-width: 95%;
  background: var(--texto);
  border-radius: 15px;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  overflow: scroll;
  transition: all 0.5s ease;
}

.tb_artista h3,
.tb_produto h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 3rem;
  color: var(--verde-escuro);
}

.tb_artista table {
  font-size: 80%;
  text-align: center;
}

.tb_artista th {
  color: var(--verde-escuro);
}

.tb_produto {
  margin-top: 5%;
  margin-left: 8%;
  max-width: 85%;
  background: var(--texto);
  position: relative;
  display: block;
  border-radius: 15px;
  overflow: scroll;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease;
}

.fa-facebook {
  color: #4267b2;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.fa-instagram {
  color: #bc2a8d;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.fa-behance {
  color: #053eff;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

/* ================= FORMULÁRIOS FUNCIONARIOS ============== */

.editaproduto {
  position: relative;
  display: block;
  justify-content: center;
  left: 15%;
  margin-top: 2%;
  margin-left: 3%;
  max-width: 65%;
  background: var(--texto);
  border-radius: 15px;
  overflow: scroll;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease;
}

/* ================= FORMULÁRIOS ALTERA PRODUTO ============== */

.formaltera lottie-player {
  margin-left: 22rem;
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.imgaltera img {
  width: 450px;
  height: 600px;
  margin-top: -50px;
  padding-left: 2rem;
  object-fit: cover;
  border-radius: 0 0 50px 50px;
  float: left;
}

.formaltera {
  float: right;
  margin-left: 10rem;
  width: 30%;
}
.editaproduto h3 {
  padding-left: 2rem;
  font-size: 25px;
  font-weight: 600;
  color: var(--verde-escuro);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.imgaltera input[type="file"] {
  display: none;
}

.imgaltera label {
  margin-top: 1rem;
  margin-left: 5rem;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 20px;
}

.imgaltera label:hover {
  background-color: var(--verde-escuro);
  cursor: pointer;
  transition: var(--tran-03);
}

.editaproduto input {
  height: 14px;
  margin-top: 15px;
  border-radius: 15px;
  color: var(--verde-escuro);
  padding: 14px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s ease;
  background-color: var(--bk_input);
}

.editaproduto input:focus {
  border-bottom: 2px solid #00ae8e;
  border-radius: 15px;
  color: var(--verde);
  transition: 0.2s ease;
  outline: none;
}

.editaproduto select {
  position: relative;
  display: flex;
  width: 15em;
  height: 35px;
  border-radius: 15px;
  font-weight: 600;
  outline: none;
  border: 0;
  box-shadow: none;
  padding-left: 14px;
  color: var(--verde-escuro);
  background-color: var(--bk_input);
  cursor: pointer;
}

.editaproduto select:focus {
  color: var(--verde);
}

.editaproduto button {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border: transparent;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 15px;
}

.editaproduto button:hover {
  background-color: var(--verde-escuro);
}

/* ================= FORMULÁRIOS ADICIONA PRODUTO ============== */

.adicionaproduto {
  position: relative;
  display: block;
  justify-content: center;
  left: 15%;
  margin-top: 2%;
  margin-left: 3%;
  max-width: 65%;
  background: var(--texto);
  border-radius: 15px;
  overflow: scroll;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease;
}

.adicionaprodutos {
  position: relative;

  justify-content: center;
  left: 15%;
  margin-top: 2%;
  margin-left: 3%;
  max-width: 65%;
  height: 50rem;
  background: var(--texto);
  border-radius: 15px;
  overflow: scroll;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease;
}

.adicionaproduto h3 {
  font-size: 25px;
  padding-left: 2rem;
  font-weight: 600;
  color: var(--verde-escuro);
  text-transform: uppercase;
}

.adicionaprodutos h3 {
  font-size: 25px;
  padding-left: 2rem;
  font-weight: 600;
  color: var(--verde-escuro);
  text-transform: uppercase;
}

.imgadiciona lottie-player {
  margin-top: -8rem;
}

.inputfile {
  margin-top: 1.5rem;
}
.inputfile p {
  padding-right: 20rem;
  font-size: 15px;
}
.inputfile input {
  display: none;
}
.inputfile label {
  background-color: var(--verde);
  padding: 2px 30px 2px 30px;
  border-radius: 15px;
  color: var(--branco);
  cursor: pointer;
}
.inputfile label:hover {
  background-color: var(--verde-escuro);
}

.formproduto {
  margin-top: -7rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.formprodutos {
  margin-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.formproduto input {
  height: 14px;
  border-radius: 15px;
  color: var(--verde-escuro);
  padding: 14px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s ease;
  background-color: var(--bk_input);
}

.formprodutos input {
  height: 14px;
  border-radius: 15px;
  color: var(--verde-escuro);
  padding: 14px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s ease;
  background-color: var(--bk_input);
}
.formprodutos input:focus {
  border-bottom: 2px solid #00ae8e;
  border-radius: 15px;
  color: var(--verde);
  transition: 0.2s ease;
  outline: none;
}
.formproduto input:focus {
  border-bottom: 2px solid #00ae8e;
  border-radius: 15px;
  color: var(--verde);
  transition: 0.2s ease;
  outline: none;
}
.formprodutos button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 15em;
  text-align: center;
  border: transparent;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 15px;
}
.formprodutos button:hover {
  background-color: var(--verde-escuro);
}

.formproduto button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 15em;
  text-align: center;
  border: transparent;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 15px;
}
.formproduto button:hover {
  background-color: var(--verde-escuro);
}

.formproduto select {
  position: relative;
  display: flex;
  width: 15em;
  height: 35px;
  border-radius: 15px;
  font-weight: 600;
  outline: none;
  border: 0;
  box-shadow: none;
  padding-left: 14px;
  color: var(--verde-escuro);
  background-color: var(--bk_input);
  cursor: pointer;
}

.formproduto select:focus {
  color: var(--verde);
}

/* ================= FORMULÁRIOS ELIMINA ============== */

.formaelimina {
  width: 70%;
  padding-left: 4rem;
}
/* ================= FORMULÁRIOS ALTERA COMPRA // VENDA ============== */

.formcompra {
  width: 60%;
  margin-left: 2rem;
}
.formcompra button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 15em;
  text-align: center;
  border: transparent;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 15px;
}

/* ================= MOSTRAR PERFIL FUNCIONÁRIO ============== */

.mostraperfil {
  position: relative;
  display: block;
  justify-content: center;
  left: 15%;
  margin-top: 2%;
  margin-left: 3%;
  max-width: 65%;
  background: var(--texto);
  border-radius: 15px;
  overflow: scroll;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease;
}

.mostraperfil button {
  margin-bottom: 2rem;
  width: 15em;
  text-align: center;
  border: transparent;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 15px;
}

.mostraperfil button:hover {
  background-color: var(--verde-escuro);
}

.perfilfunc {
  padding-left: 3rem;
}

.perfilfunc h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--verde-escuro);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.perfilfunc p {
  font-size: 20px;
  font-weight: 400;
  color: var(--verde);
  margin-bottom: 1.5rem;
}

.perfilfunc span {
  font-size: 20px;
  font-weight: 400;
  color: var(--verde-escuro);
}

.mudapass {
  width: 45%;
  background-color: var(--verde-escuro);
  margin-bottom: 2rem;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
}

.mudapass p {
  padding: 6rem 6rem 2rem;
  text-align: center;
  font-size: 12px;
  color: #bfd8d7;
}

.mudapass a {
  margin-left: 7rem;
  margin-bottom: 2rem;
  width: 15em;
  text-decoration: none;
  text-align: center;
  border: transparent;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 15px;
}

/* ================= MENSAGEM DE ERRO ============== */

.fundobk {
  background-image: url(/Artboard\ 1.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.msgerro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 15%;
  margin-top: 2%;
  margin-left: 3%;
  max-width: 65%;
  min-height: 460px;
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 15px;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease;
}

.msgerro lottie-player {
  margin-top: -9rem;
}
.msgerro h3 {
  padding-right: 10rem;
  padding-left: 10rem;
  color: #00ae8e;
  font-weight: 600;
}

.errpage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errpage h3 {
  margin-top: -5rem;
  text-align: center;
  font-weight: 600;
  color: var(--verde-escuro);
}

/* ================= PRODUTOS ============== */

.wrapper {
  width: 300px;
  margin: 0 auto;
  padding-top: 3rem;
}

.product-card {
  position: relative;
  background: #ffffff;
  display: block;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease;
}

.product-card * {
  transition: all 0.5s ease;
}

.product-card .product-link {
  display: block;
}

.product-card:hover {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

.product-card:hover .product-link,
.product-card .product-link:focus {
  text-decoration: none;
}

.product-card .product-link img {
  background: #eee;
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.product-card:hover .product-link img {
  height: 240px;
}

.product-card .overlay {
  display: block;
  width: 100%;
  height: 300px;
  background: rgba(0, 82, 54, 0.25);
  position: absolute;
  top: 0;
  opacity: 0;
}
.product-card:hover .overlay {
  height: 240px;
  opacity: 1;
}

.product-card .info {
  padding: 2.5rem;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.025), transparent);
}

.product-card:hover .info {
  padding-bottom: 80px;
}

.product-card .info .title {
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #555555;
}

.product-card .info .price {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  float: right;
  margin-left: 45px;
  color: #00ae8e;
}

.product-card .info .price .currencysymbol {
  font-size: 16px;
  vertical-align: top;
}

.product-card .button-wrap {
  position: absolute;
  bottom: -12rem;
  right: 0;
  left: 0;
  width: 100;
}

.product-card:hover .button-wrap {
  bottom: 1.5rem;
}
.product-card .button-wrap .button:hover {
  transform: none;
}

.product-card .button-wrap .button.cart {
  float: right;
  border-radius: 30px 0 0 30px !important;
  padding: 1px 26.5px;
}

.product-card .button-wrap .button.view {
  float: left;
  padding: 1px 32px;
  border-radius: 0 30px 30px 0 !important;
  background-color: #013d5f;
  box-shadow: none;
}

.product-card .button-wrap .button.wish {
  float: left;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding: 1px 20.5px;
  background-color: #c21377;
  box-shadow: none;
}

a.button {
  background: #2ecc71;
  display: inline-block;
  padding: 1rem 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800 !important;
  font-size: 16px;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  transition: all 0.3s ease;
  color: #ffffff;
  margin-top: 0.5rem;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
}
a.button:hover {
  text-decoration: none;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

a.button:active {
  background: #45e487;
  border-color: #45e487;
}

a.button.more {
  margin-top: 2rem;
}

/* ================= PRODUTOS DETALHE ============== */
.produtdt {
  float: right;
  width: 40%;
  margin-left: 10rem;
}

.btnd {
  margin-top: -1rem;
}
.wishd {
  float: left;
  border-radius: 25px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding: 1px 20.5px;
  background-color: #c21377;
  box-shadow: none;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
}

.cartd {
  float: left;
  border-radius: 25px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding: 1px 20.5px;
  background-color: var(--verde);
  box-shadow: none;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.133);
}

.wishd:hover,
.cartd:hover {
  text-decoration: none;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.infod {
  color: var(--verde);
  padding-right: 5px;
}

textarea {
  outline: none;
  border: 1px solid var(--verde-escuro);
  background-color: #f9fdff;
  resize: none;
  padding: 4px 12px;
  border-radius: 15px;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

textarea:focus {
  box-sizing: border-box;
  border: 2px solid#04c7a3;
}

.comentbtn {
  background-color: var(--verde);
  padding: 2px 15px;
  border-radius: 50px;
  border: none;
  color: var(--branco);
}

.comentbtn:hover {
  background-color: var(--verde-escuro);
}

.input_func button {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border: transparent;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 15px;
}

.input_func button:hover {
  background-color: var(--verde-escuro);
}

.comment-name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: -1rem;
}
.comment-names {
  font-size: 15px;
  font-weight: 600;
}

.commentcl {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.603);
}
#quantity {
  font-size: 15px;
  background-color: var(--bk_input);
  border: 1px solid var(--verde);
  width: 40px;
  padding-right: 3px;
  padding-left: 2px;
  border-radius: 10px;
}
.commentcontent {
  padding-left: 15px;
}
.closebtn lottie-player {
  margin-top: -3rem;
  margin-left: 22rem;
}
.artistadt {
  margin-top: 65px;
}
.imgartista img {
  border-radius: 15px;
  margin-left: 1rem;
  width: 140px;
  height: 100px;
  object-fit: cover;
}
.imgartista img:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}
.nmartista {
  margin-top: -35px;
  margin-left: 135px;
}

/* ================= CARRINHO ============== */

.btnmsg {
  text-align: center;
  margin-top: 2rem;
  margin-left: 3rem;
}
.btnmsg a {
  text-decoration: none;
  color: black;
  padding-left: 2rem;
}

.btnmsg a:hover {
  color: var(--verde);
}

.precototal {
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.finalizar {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border: transparent;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 15px;
}

.finalizar:hover {
  color: var(--branco);
  background-color: var(--verde-escuro);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.iconredes a {
  padding-left: 25px;
  margin-bottom: 1rem;
}

.btnpass a {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border: transparent;
  justify-content: center;
  color: var(--branco);
  border-radius: 25px;
  background-color: var(--verde);
  padding: 5px 15px;
}

.btnpass a:hover {
  color: var(--branco);
  background-color: var(--verde-escuro);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}
